:root {
    --main-color: rgb(33, 176, 166);
    --text-color: rgb(0,0,0);

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-color);
    font-family: Helvetica, Arial, sans-serif;
}

/*header style begin*/
header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--text-color);
    margin: 0;

}

header a {
    text-decoration: none;
    color: rgb(0,0,0);
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header h1 a:hover {
    color: rgb(255,255,255);
    -webkit-text-stroke: 1px rgb(0,0,0);
}

header nav {
    margin: 7px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: rgb(0,0,0);
}

header nav ul li a:hover {
    border-radius: 40px;
    background-color: rgb(255,255,255);
    color: rgb(33, 176, 166);
    -webkit-text-stroke: 1px rgb(32, 200, 218);
}
/*header style end*/

.container {
    position: relative;
    width: 600px;
    height: 400px;
  }

  #someimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 400px;
  }




/*about me style beg*/
.intro .myinfo{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(255,255,255);

}

.myinfo {    
    flex:  1;
}
.myinfo img {
    width: 30%;
}
.bio {
    padding: 25px;
/*    border: 10px solid rgb(33, 176, 166);*/
    line-height: 1.3;
    display: flex;
    flex-wrap: wrap;
    align-items: fle;
    width: 50%;
}

.bio h2 {
    font-size: 36px;
}

.bio p {
    font-size: 17px;
}
/*about me stlye end*/

/*protfolio begin*/
.sample-applications {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 0;
}
.sample-applications h2 {
    font-size: 36px;
    width: 80%;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 5px solid rgb(255,255,255);
    border-radius: 5px;
}

.sample-applications section {
    width: 58%;
}

.sample {
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sample .shade {
    display: inline-block;
    padding: 0;
    position: relative;
}
    
.sample img{

    border: 3px solid rgb(255,255,255);
    width: 56.5vw;
    max-width: 100%;
    height: 404px;
    margin: 2px;
}
/*
.sample .shader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        color: rgb(0,0,0,0)
} */
.sample span {
    display: none;
}
.sample .shade:hover span {
    color: rgb(33, 176, 166);
    font-weight: bold;
    font-size: 25px;
    background-color:rgba(255,255,255,1) ;
    z-index: 1;
    display: block;
    position: absolute;
    bottom: 6px;
    left: 3px;
    padding: 40px;
}
/*
.sample .shade:hover .shader {
    display: none;
}*/

.remain-sample {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.remain-sample .remain-shade {
    display: inline-block;
    padding: 0;
    position: relative;
}

.remain-sample img {

    border: 3px solid rgb(255,255,255);
    width: 28vw;
    max-width: 100%;
    height: 200px;
    margin: 2px;
}

.remain-sample span {
    display: none;
}

.remain-sample .remain-shade:hover span {
    color: rgb(33, 176, 166);
    font-weight: bold;
    font-size: 20px;
    background-color:rgba(255,255,255,1) ;
    z-index: 1;
    display: block;
    position: absolute;
    bottom: 6px;
    left: 3px;
    padding: 15px;
}
/* portfolio styling end*/

/* contact me styling start*/
.connect-with-me {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

#contact {
    margin-right: 20px;
    font-size: 36px;
    width: 100%;
    text-align: center;
    border-bottom: 5px solid rgb(255,255,255);
    border-radius: 5px;
    padding-bottom: 10px;
}

.connect-with-me ul {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style: none;
}

.connect-with-me ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.55vw;
    padding: 10px 15px;
}

.connect-with-me ul li a:hover {
    border-radius: 40px;
    background-color: rgb(255,255,255);
    color: rgb(33, 176, 166);
    -webkit-text-stroke: 1px rgb(32, 200, 218);
}
/* contact me styling end */

footer {
    width: 100%;
    padding: 40px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer h2 {
    border: 2px solid rgb(255,255,255);
    padding: 3px 6px;
    border-radius: 10px;
    color: rgb(255,255,255);
    font-size: 10px;
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .sample-applications section {
        width:90%;
    }

    .sample img {
        width: 100%;
    }
    .remain-sample img {
        width: 43vw;
        flex: 1 2 100%;
    }

    .connect-with-me ul li a{
        font-size: 20px;
    }

}
@media screen and (max-width: 768px) {

    .sample-applications section {
        width: 90%;
    }

    .sample {
        width: 100%;
    }
    .sample img {
        width: 100%;
    }
    .remain-sample img {
     flex: 1 200%;

    }

    .connect-with-me ul li a{
        font-size: 20px;
    }

}

@media screen and (max-width: 575px) {

    .intro .bio {
        flex: 1;
    }
    .sample-applications section {
        width: 90%;
    }

    .sample img {
        width: 100%;
    }
    .remain-sample img {
        width: 100%;
    }

    .connect-with-me ul li a{
        font-size: 20px;
    }

}